* {
  border: none;
  border-radius: 0;
  font-family: DejaVu Sans Mono, Noto Sans CJK SC;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: rgba(43, 48, 59, 0.5);
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

tooltip label {
  color: white;
}

#workspaces button {
  padding: 0.5px;
  background: transparent;
  color: white;
  border-bottom: 3px solid transparent;
}

#workspaces button.focused {
  background: #64727D;
  border-bottom: 3px solid white;
}

#mode, #clock, #battery, #pulseaudio, #tray, #network, #bluetooth {
  padding: 0 5px;
}

#mode {
  background: #64727D;
  border-bottom: 3px solid white;
  padding: 0 5px;
}

#battery {
  background-color: #ffffff;
  color: black;
}

#battery.charging {
  color: white;
  background-color: #26A65B;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
